
@import '../style/variables';

.background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	height: 100%;
	width: 100%;
	margin: 0;

	stop {
		transition: stop-color $transition-duration $transition-easing;
	}

	&__radial-gradient {
		display: none;
	}

	@media (min-width: 768px) {
		&__linear-gradient {
			display: none;
		}

		&__radial-gradient {
			display: block;
		}
	}
}
