@import '../style/variables';

.card {
  border-radius: $card-border-radius;
  border: $card-border;
  filter: drop-shadow(0.5rem 0.5rem 1rem rgba($black, 0.3));
  transition: transform $transition-duration $transition-easing;
  margin-bottom: 1rem;

  &--minimized {
    transform: translate(-100%, 125%) scale(0) rotateX(-10deg);
  }

  &__label {
    color: $card-color;
    font-size: 1rem;
    margin: 0 7.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &__mock-bar {
    background-image: $card-header-bg;
    border-radius: $card-border-radius $card-border-radius 0 0;
    border-bottom: $card-border;
    padding: 0.5rem;
    position: relative;
  }

  &__mock-buttons {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 1rem;
    margin: auto 0;
    display: flex;
    height: 0.9rem;
    z-index: 2;
  }

  &__actions {
    position: absolute;
    left: 6rem;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: 1.25rem;
  }

  &__action {
    background-color: rgb(241, 241, 241);
    outline: none;
    height: 1.25rem;
    border: $card-border;
    border-radius: 0.25rem;
    color: rgba($card-color, 0.5);
    transition: color $transition-duration * 0.5 $transition-easing;

    &:hover,
    &:focus {
      color: $card-color;
    }
  }

  &__mock-button {
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-right: 0.6rem;
    display: block;
    position: relative;

    &--close {
      background-color: $close;
    }

    &--minimize {
      background-color: $minimize;
    }

    &--maximize {
      background-color: $maximize;
      transform: rotate(45deg);
    }
  }

  &__mock-buttons:hover &__icon {
    opacity: 0.6;
  }

  &__icon {
    font-size: 0.6rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
  }

  &__content {
    background-color: $card-bg;
    border-radius: 0 0 $card-border-radius $card-border-radius;
    text-align: left;
  }

  &__section {
    padding: 1rem;

    &:nth-of-type(even) {
    	background-color: rgb(225, 225, 225);
    }

    &:last-of-type {
      border-radius: 0 0 $card-border-radius $card-border-radius;
    }
  }

  * + &__section {
    border-top: $card-border;
  }
}
