
@import '../style/variables';

.color-picker {
  position: relative;
  width: 1.5rem;
  height: 1.5rem;

  &__input {
    position: absolute;
    opacity: 0;
    width: 1.5rem;
    height: 1.5rem;
    z-index: 1;
    left: -0.25rem;
    top: -0.25rem;
    bottom: 0;
  }

  &__icon {
    position: absolute;
    left: 0;
    z-index: 0;
    opacity: 0.5;
    transition: opacity $transition-duration * 0.5 $transition-easing;
  }

  &__input:hover ~ &__icon,
  &__input:focus ~ &__icon {
    opacity: 1;
  }
}
