
@import '../style/variables';

.results-group {
  &__label {
    font-size: 1.125rem;
  }

	&__wcag {
		margin: 1rem 0;
	}

  &__assessment-text {
    &--pass {
      color: $success;
    }

    &--fail {
      color: $danger;
    }
  }
}
